
  <div class="container text-center up-padding">
    <div class="row">
      <div class="col-sm-4 col-sm-offset-4">
       <h1 class="header-ask">Speak to your coach</h1>
        <form class="" action="/answer">
          <div class="form-group">
            <label for="question"></label>
            <input class="form-control" type="text" id="question" name="question" placeholder="what time is it?">
          </div>
            <button type="submit" class="btn btn-primary" value="Go on!">Go On!
            </button>
          </form>
      </div>
    </div>
  </div>





